@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Setup.City.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PracticeProject.Setup.CityGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>