@{ 
    ViewData["Title"] = "Moive Details Report";
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PracticeProject.Web.Modules.Reports.MovieDetails.MovieDetailsPanel($('#GridDiv'), {}).init();
        Q.initFullHeightGridPage($('#GridDiv'));
    });

</script>