@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Test.Test.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PracticeProject.Test.TestGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>